body {
    width: 940px;
    margin: 0 auto;
}

.countries {
    overflow-y: scroll;
    display: inline-block;
    width: 45%;
    height: 700px;
    border-right: 2px solid black;
    float: left;
    margin-top: 50px;
}

.info {
    display: inline-block;
    float: right;
}

. .empty_info {
    display: inline-block;
}

.flag {
    width: 250px;
    height: 195px;
}